* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32.5%;
    font-size: 1rem;
}

header {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 40%;
}

.hamburguesa {
    height: 40px;
    
}

.menu {
    display: none;
}



.section1 {
    font-size: white;
    background-color:rgb(82 156 241);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
    
}

.texto-premium {
    color: white;
    margin: 20px;
}

.cajaplanes {
    display: flex;
    justify-content: center;
}

.planes {
    background-color: rgb(38 183 88);
    border-radius: 20px;
    padding: 10px;
/*     padding-left: 40%;
    padding-right: 40%; */
    text-decoration: none;
    color: white;
}

.section2  {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}


.premium {
    width: 60%;
    text-align: center;
    
}

.articulo {
    display: flex;
    width: 80%;
    justify-content: center;
}

.img {
    width: 100px;
}


.textofinal {
    background-color: bisque;
}

.footer-list li {
    display: inline;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    
}