.section1 {
    font-size: white;
    background-color:rgb(82 156 241);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 100px;
}

.titulo-premium {
    color: white;
    margin: 20px;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.2;
}

.texto-premium1 {
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4;
}

.texto-premium2 {
    color: white;
    margin: 20px;
    font-size: 0.8rem;
    line-height: 1.4;
}

.cajaplanes {
    display: flex;
    justify-content: center;
}

.planes {
    background-color: rgb(38 183 88);
    border-radius: 20px;
    padding: 13px;
    padding-left: 120px;
    padding-right: 120px; 
    text-decoration: none;
    font-size: 0.75rem;
    letter-spacing: .15rem;
    color: white;
    font-weight: bold;
}