<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regístrate
    </title>
    <link rel="stylesheet" href="/scss/pages/_signup.scss">
</head>

<body>

    <form action="">
        <fieldset>
            <legend>Registrarte con tu correo electrónico</legend>
        

        <div>
            
            <label for="email">¿Cuál es tu correo electrónico?</label>
            <input type="email" placeholder="Pon tu correo electrónico" name="email" id="email"/>
        </div>

        <div>
            
            <label for="emailrepeat">Confirma el correo electrónico</label>
            <input type="email" placeholder="Vuelve a poner tu correo electrónico" name="emailrepeat" id="emailrepeat"/>
        </div>

        <div>
            
            <label for="password">Crea una contraseña</label>
            <input type="password" placeholder="Crea una contraseña." name="password" id="password"/>
        </div>

        <div>
        
            <label for="name">¿Cómo quieres que te llamemos?</label>
            <input type="text" placeholder="Pon un nombre de perfil." name="name" id="name"/>
            <label for="">Esto aparece en tu perfil</label>
        </div>

        <div>
            <label for="">¿Cuál es tu fecha de nacimiento?</label>

            <label for="number">Día</label>
            <input type="number" placeholder="DD" name="number" id="number"/>

            <label for="">Mes</label>
            <select name="month" id="month">
                <option value="">Mes</option>
                <option value="En">Enero</option>
                <option value="Feb">Febrero</option>
                <option value="Marzo">Marzo</option>
                <option value="Abril">Abril</option>
                <option value="Mayo">Mayo</option>
                <option value="Junio">Junio</option>
                <option value="Julio">Julio</option>
                <option value="Agosto">Agosto</option>
                <option value="Setiembre">Setiembre</option>
                <option value="Octubre">Octubre</option>
                <option value="Noviembre">Noviembre</option>
                <option value="Dic">Diciembre</option>
            </select>

            <label for="year">Año</label>
            <input type="number" placeholder="AAAA" name="year" id="year"/>
        </div>

        <div>
            <label for="">¿Cuál es tu género?</label>
            <input type="radio" name="man" id="man" value="man"/> 
            <label for="man">Hombre</label>
            

            <input type="radio" name="woman" id="woman" value="woman"/>
            <label for="woman">Mujer</label>
            

            <input type="radio" name="nonBinary" id="nonBinary" value="nonBinary"/>
            <label for="nonBinary">No binario</label>
            
        </div>

        <div>
            
            <input type="checkbox" name="news" id="news" value="news"/>
            <label for="news">Quiero que me enviéis novedades y ofertas de Spotify</label>

            
            <input type="checkbox" name="data" id="data" value="data"/>
            <label for="data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, perspiciatis. Facilis aperiam reiciendis quasi laborum, incidunt dicta numquam soluta obcaecati doloribus saepe, illo, ex minus illum sit maxime quisquam nesciunt?</label>
        </div>
        </fieldset>

        <section>
            <a href="">Regístrate</a>

            <p>¿Ya tienes cuenta?</p><span>Inicia sesión.</span>
        </section>
    </form>
    
</body>
</html>