@import 'core/variables';
@import 'core/reset';


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32.5%;
    font-size: 1rem;
}

header {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 40%;
}

.hamburguesa {
    height: 40px;
    
}

.menu {
    display: none;
}



.section1 {
    font-size: white;
    background-color:rgb(82 156 241);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 100px;
}

.titulo-premium {
    color: white;
    margin: 20px;
    font-size: 2.5rem;
}

.texto-premium1 {
    color: white;
    margin: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}

.texto-premium2 {
    color: white;
    margin: 20px;
    font-size: 0.8rem;
}

.cajaplanes {
    display: flex;
    justify-content: center;
}

.planes {
    background-color: rgb(38 183 88);
    border-radius: 20px;
    padding: 10px;
    padding-left: 120px;
    padding-right: 120px; 
    text-decoration: none;
    color: white;
}

.section2  {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
}


.premium {
    width: 60%;
    text-align: center;
    font-size: 1.8rem;
}

.articulo {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.texto-article {
    width: 220px;
    margin-left: 20px;
}

.img {
    width: 100px;
    height: 100px;
}

.h3 {
    font-size: 1.2rem;
}


.footer-list li {
    list-style: none;
}

.contacto {
    padding: 10px
}
footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    font-size: 0.5rem;
}

.es {
    width: 20px;
}